body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c35;
}

.stopwatch {
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.controls {
    margin-top: 20px;
}

.btn {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #0056b3;
}
